a {
  cursor: pointer;
}

.card {
  border-radius: 10px;
  width: 300px;
}

body {
  background-color: #f2f7f4;
}

.navbar {
  background-color: #335140;
  color: #fff;
  line-height: 3rem;
}

.navbar .branding a {
  color: #fff;
}

.navbar a {
  color: #ccccff;
  text-decoration: underline;
}

.navbar .spinner {
  position: absolute;
  height: 35px;
  width: 35px;
  left: 50%;
  margin: 1.2em;
}

.margin-bottom {
  margin-bottom: 2rem;
}