.card {
  border-radius: 10px;
  width: 300px;
}

body {
  background-color: #f2f7f4;
}

.navbar {
  background-color: #335140;
  color: #fff;
  line-height: 1.5em;
  font-size: 2em;
}

.navbar a {
  color: #fff;
}

.margin-bottom {
  margin-bottom: 2rem;
}